*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

/* start newsletter */
.newsletter{
    background: url('../img/banner/b2.jpg');
    position: relative;
    top: 100px;
}
.newsletter .overlay{
    background-color: #041D44;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}
.newsletter .newsletter-content{
    position: relative;
    color: #fff;
    padding: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter .newsletter-content .newsletter-desc{
    width: 55%;
}
.newsletter .newsletter-content .newsletter-desc h1{
    text-transform: capitalize;
    margin-bottom: 15px;
}
.newsletter .newsletter-content .newsletter-desc p{
    color: #777;
    font-size: 18px;
}
.newsletter .newsletter-content .newsletter-desc span{
    color: orange;
    font-size: 17px;
    font-weight: 500;
}
.newsletter .newsletter-content .newsletter-form input[type=email]{
    border: none;
    border-radius: 3px;
    text-align: left;
    width: 365px;
    height: 49px;
    font-size: 17px;
    padding: 16px;
    border-bottom-right-radius: 0;
    outline: none;
    color: #000;
}
.newsletter-form{
    display: flex;
    align-items: center;
}
.newsletter .newsletter-content .newsletter-form input[type=button]{
    height: 49px;
    border-bottom-left-radius: 0;
    color: #fff;
    width: 100px;
    background: #009688;
    font-size: 17px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* end newsletter */

@media screen and (max-width:600px){
    .newsletter .newsletter-content{
        flex-direction: column;
    }
    .newsletter .newsletter-content .newsletter-desc{
        width: fit-content;
    }
    .newsletter .newsletter-content .newsletter-form input[type=email]{
        width: 100%;
    }
    .newsletter .newsletter-content .newsletter-desc h1{
        font-size: 31px;
    }
    .newsletter .newsletter-content .newsletter-desc p{
        font-size: 15px;
    }
}
@media screen and (max-width:1199px){
    .newsletter .newsletter-content{
        flex-direction: column;
    }
    .newsletter .newsletter-content .newsletter-desc{
        width: fit-content;
    }
    .newsletter .newsletter-content .newsletter-form{
        width: 100%;
    }
    .newsletter .newsletter-content .newsletter-form input[type=email]{
        width: 100%;
    }
    .newsletter .newsletter-content .newsletter-desc h1{
        font-size: 31px;
    }
    .newsletter .newsletter-content .newsletter-desc p{
        font-size: 15px;
    }
}